@import "base/base.scss";

body {
    background-color: var(--very-drk-blue);
    display: grid;
    place-content: center;
    .mobile-bg {
        display: none;
    }
    .desktop-bg {
        position: absolute;
        right: 0;
        bottom: 0;
        //width: 67rem;
        width: 100%;
        height: 50%;
        z-index: -1;
    }
    .component {
        display: flex;
        margin-top: 32%;
        align-items: end;
        justify-content: center;
        height: 8.5rem;

        .first {
            background-color: var(--drk-blue);
            padding: 1.5rem 2rem;
            margin: .5rem;
            width: 17rem;
            border-top-right-radius: 5rem;
            .logo {
                width: 6rem;
            }
            .info {
                margin-top: 1.3rem;
                .icon {
                    background-color: var(--very-drk-blue);
                    width: 2.3rem;
                    height: 2rem;
                    padding: .5rem;
                    border-radius: .2rem;
                    margin-right: .4rem;
                    &:hover {
                        opacity: .6;
                    }
                }
            }
        }
        .second {
            background-color: var(--drk-blue);
            width: 30rem;
            margin: .5rem;
            border-radius: .5rem;
            padding: 1.5rem;
            color:var(--pale-blue);
            z-index: 0;
            .usage-text {
                margin-bottom: .5rem;
                span {
                    font-weight: bold;
                }
            }
            .slider-container {
                position: relative;
                .res {
                    position: absolute;
                    background-color: white;
                    color: var(--very-drk-blue);
                    width: 8rem;
                    height: 3rem;
                    padding: 1rem;
                    border-radius: .3rem;
                    top: -3.5rem;
                    right: 2rem;
                    text-align: center;  
                    font-weight: bolder;
                    span  {}
                }
                .bar {
                    position: absolute;
                    background-color: var(--very-drk-blue);
                    height: 15px;
                    border-radius: 10px;
                    width: 100%;
                    top: 0;
                    left: 0;
                    z-index: -1;
                    //display: none;
                    .fill {
                        height: 100%;
                        width: 50%;
                        position: absolute;
                        background: linear-gradient(90deg,var(--gradient-1),var(--gradient-2));
                        //background-color: red;
                        border-radius: 10px;
                    }
                }
                .slider {
                    -webkit-appearance: none;
                    width: 100%;
                    height: 15px;
                    background: transparent;
                    border-radius: 10px;
                    &::-webkit-slider-thumb {
                        -webkit-appearance: none;
                        background-color: white;
                        width: 15px;
                        height: 15px;
                        border-radius: 50%;
                    }
                }
            }
            .data-amout {
                display: flex;
                width: 100%;
                justify-content: space-between;
                font-weight: 700;
                font-size: .8rem;
            }
        }
    }
}

@media screen and (max-width: 810px) {
    body {
        padding: 1rem;
        .desktop-bg {
            display: none;
        }
        .mobile-bg {
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            z-index: -10;
        }
        .component {
            flex-direction: column;
            height: auto;
            .first {
                width: 100%;
                margin: 0;
                margin-bottom: 1rem;
                padding: 2.5rem 1.5rem;
            }
            .second {
                width: 100%;
                margin: 0;
                padding: 3rem 1.5rem;
                .slider-container {
                    .res {
                        width: 8rem;
                        height: 3.5rem;
                        top: auto;
                        bottom: -5rem;
                        right: auto;
                        left: 25%;
                    }
                }
            }
        }
    }
}
// body {
//     .slider-container {
//         width: 50%;
//         display: block;
//         margin: 24% auto;
//         position: relative;
//         .res {
//             background-color: black;
//             color: white;
//             border-radius: .3rem;
//             text-align: center;
//             width: 4rem;
//             height: 3rem;
//             padding: 1rem;
//             position: absolute;
//             top: -4rem;
//         }
//         .slider {
//             width: 100%;
//             height: 18px;
//             -webkit-appearance: none;
//             background-color:transparent;
//             border-radius: 10px;
//             &::-webkit-slider-thumb {
//                 -webkit-appearance: none;
//                 width: 18px;
//                 height: 18px;
//                 border-radius: 10px;
//                 background-color: white;
//             }
//         }
//         .bar {
//             position: absolute;
//             width: 100%;
//             border-radius: 10px;
//             height: 18px;
//             background-color: rgb(25, 20, 46);
//             overflow: hidden;
//             z-index: -1;
//             .fill {
//                 position: absolute;
//                 height: 100%;
//                 width: 50%;
//                 background: linear-gradient(90deg,var(--gradient-1),var(--gradient-2));
//                 z-index: 0;
//             }
//         }

//     }
// }