@import "base/base.css";
body {
  display: grid;
  place-content: center;
  background-attachment: fixed;
  height: 100%;
  padding: 0.5rem;
}
body .card-container {
  background-color: white;
  max-width: 25rem;
  padding: 1.5rem;
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  margin-top: 8rem;
}
body .card-container .pc-img-box {
  display: none;
}
body .card-container .img-container {
  position: relative;
  margin: 0 auto;
  width: 80%;
  height: auto;
  padding-bottom: 6rem;
}
body .card-container .img-container .pc-img {
  display: none;
}
body .card-container .img-container .mb-img {
  width: 16rem;
  position: absolute;
  top: -8rem;
  left: 0;
  right: 0;
  margin: 0 auto;
}
body .card-container .img-container .mb-img-shadow {
  position: absolute;
  top: -0.3rem;
  left: 0;
  right: 0;
  margin: 0 auto;
}
body .card-container .accordions-container {
  margin: 0 auto;
  max-width: 21rem;
  margin-bottom: 1rem;
}
body .card-container .accordions-container .title {
  text-align: center;
  color: var(--drk-blue-text);
  font-weight: 700;
  font-size: 2.5rem;
  margin: 1rem;
}
body .card-container .accordions-container .accordions .accordion {
  list-style: none;
  border-bottom: 1px solid #cecece;
  padding: 1rem 0;
}
body .card-container .accordions-container .accordions .accordion .question-container .question {
  color: var(--drk-gray-text);
  display: inline;
  width: 80rem;
  font-size: 0.9rem;
}
body .card-container .accordions-container .accordions .accordion .question-container img {
  width: 0.8rem;
  position: float;
  float: right;
  top: 0;
  padding: 0.5rem 0;
  transition: all 400ms ease-in-out;
}
body .card-container .accordions-container .accordions .accordion .answer {
  color: var(--soft-gray-text);
  max-width: 18rem;
  font-size: 0.9rem;
  height: 0;
  overflow: hidden;
  transition: all 400ms ease-in-out;
}
body .card-container .accordions-container .accordions .active .question {
  font-weight: bolder;
  color: var(--drk-blue-text);
}
body .card-container .accordions-container .accordions .active img {
  transform: rotate(180deg);
}
body .card-container .accordions-container .accordions .active .answer {
  margin-top: 0.7rem;
  height: 4rem;
}

@media screen and (min-width: 710px) {
  body .card-container {
    flex-direction: row;
    min-width: 720px;
    margin: 10% auto;
    padding-left: 0;
    position: relative;
  }
  body .card-container .img-container {
    width: 45%;
    overflow: hidden;
    margin-left: 0;
  }
  body .card-container .img-container .mb-img {
    display: none;
  }
  body .card-container .img-container .pc-img {
    display: block;
    position: absolute;
  }
  body .card-container .img-container .pc-illu {
    width: 22rem;
    top: 0;
    bottom: 0;
    margin: auto 0;
    left: -3.5rem;
  }
  body .card-container .img-container .pc-img-shadow {
    width: 25rem;
    top: 0;
    bottom: 0;
    margin: auto 0;
    left: -5.5rem;
  }
  body .card-container .pc-img-box {
    display: block;
    position: absolute;
    width: 8rem;
    top: 4rem;
    bottom: 0;
    left: -4rem;
    margin: auto 0;
  }
  body .card-container .accordions-container {
    width: 60%;
  }
  body .card-container .accordions-container .title {
    text-align: start;
  }
  body .card-container .accordions-container .accordions .accordion .question-container .question {
    font-size: 1rem;
  }
  body .card-container .accordions-container .accordions .accordion .answer {
    font-size: 1rem;
  }
}/*# sourceMappingURL=main.css.map */