@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
:root {
  --green: hsl(163, 72%, 41%);
  --red: hsl(356, 69%, 56%);
  --facebook: hsl(208, 92%, 53%);
  --twitter: hsl(203, 89%, 53%);
  --instagram: linear-gradient(90deg,hsl(37, 97%, 70%), hsl(329, 70%, 58%));
  --youtube: hsl(348, 97%, 39%);
  --toggle-dark: linear-gradient(90deg,hsl(210, 78%, 56%), hsl(146, 68%, 55%));
  --bg-dark: hsl(230, 17%, 14%);
  --top-bg-dark: hsl(232, 19%, 15%);
  --card-bg-dark: hsl(228, 28%, 20%);
  --text-1-dark: hsl(228, 34%, 66%);
  --text-2-dark: hsl(0, 0%, 100%);
  --toggle-light: hsl(230, 22%, 74%);
  --bg-light: hsl(0, 0%, 100%);
  --top-bg-light: hsl(225, 100%, 98%);
  --card-bg-light: hsl(227, 47%, 96%);
  --text-1-light: hsl(228, 12%, 44%);
  --text-2-light: hsl(230, 17%, 14%);
}

@media screen and (prefers-color-scheme: dark) {
  :root {
    --toggle: var(--toggle-dark);
    --bg: var(--bg-dark);
    --top-bg: var(--top-bg-dark);
    --card-bg: var(--card-bg-dark);
    --text-1: var(--text-1-dark);
    --text-2: var(--text-2-dark);
  }
}
@media screen and (prefers-color-scheme: light) {
  :root {
    --toggle: var(--toggle-light);
    --bg: var(--bg-light);
    --top-bg: var(--top-bg-light);
    --card-bg: var(--card-bg-light);
    --text-1: var(--text-1-light);
    --text-2: var(--text-2-light);
  }
}
[color-scheme=dark] {
  --toggle: var(--toggle-dark);
  --bg: var(--bg-dark);
  --top-bg: var(--top-bg-dark);
  --card-bg: var(--card-bg-dark);
  --text-1: var(--text-1-dark);
  --text-2: var(--text-2-dark);
}

[color-scheme=light] {
  --toggle: var(--toggle-light);
  --bg: var(--bg-light);
  --top-bg: var(--top-bg-light);
  --card-bg: var(--card-bg-light);
  --text-1: var(--text-1-light);
  --text-2: var(--text-2-light);
}

* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}

body {
  padding: 1rem;
  background-color: var(--bg);
}
body::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 15rem;
  left: 0;
  top: 0;
  background-color: var(--top-bg);
}
body .main-section {
  max-width: 1200px;
  margin: auto;
}
body .main-section .title {
  color: var(--text-2);
  margin-bottom: 0.2rem;
}
body .main-section .today-count {
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  font-weight: 700;
  margin: 0.5rem;
}
body .main-section .today-count .arrow {
  margin-right: 0.3rem;
}
body .main-section .green {
  color: var(--green);
}
body .main-section .red {
  color: var(--red);
}
body .main-section .pre-title {
  color: var(--text-1);
  font-size: 0.85rem;
  font-weight: 700;
}
body .main-section .header {
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
}
body .main-section .header .artical {
  font-weight: 700;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--text-1);
}
body .main-section .header .toggle-container {
  margin-top: 0.5rem;
  padding: 0.5rem 0;
  display: flex;
  justify-content: space-between;
}
body .main-section .header .toggle-container .toggle {
  width: 2.3rem;
  height: 1.3rem;
  border-radius: 1rem;
  background: var(--toggle);
  position: relative;
}
body .main-section .header .toggle-container .toggle .slider {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 1.1rem;
  height: 1.1rem;
  border-radius: 50%;
  background: var(--bg);
  margin: 0.08rem;
  transition: 0.4s;
}
body .main-section .header .toggle-container .toggle input {
  width: 100%;
  height: 100%;
  opacity: 0;
}
body .main-section .header .toggle-container .toggle input:checked + .slider {
  transition: 0.4s;
  transform: translateX(1.05rem);
}
body .main-section .social-medias-container {
  display: grid;
  margin: auto;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
body .main-section .social-medias-container .card {
  overflow: hidden;
  background-color: var(--card-bg);
  margin: 0.7rem;
  padding: 1.3rem;
  border-radius: 3px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .main-section .social-medias-container .card:hover {
  opacity: 0.7;
}
body .main-section .social-medias-container .card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background: var(--facebook);
}
body .main-section .social-medias-container .card .acc-info {
  display: flex;
  align-items: center;
  margin: 0.5rem;
}
body .main-section .social-medias-container .card .acc-info .acc-name {
  margin: 0.3rem;
  color: var(--text-1);
  font-size: 0.7rem;
  font-weight: 700;
}
body .main-section .social-medias-container .card .followers-count {
  margin: 0.5rem;
  font-size: 2.3rem;
  color: var(--text-2);
}
body .main-section .social-medias-container .card .followers-text {
  letter-spacing: 4px;
  font-size: 0.7rem;
  color: var(--text-1);
  margin: 0.5rem;
}
body .main-section .social-medias-container .facebook::before {
  background: var(--facebook);
}
body .main-section .social-medias-container .twitter::before {
  background: var(--twitter);
}
body .main-section .social-medias-container .instagram::before {
  background: var(--instagram);
}
body .main-section .social-medias-container .youtube::before {
  background: var(--youtube);
}
body .main-section .second-title {
  font-size: 1.3rem;
  margin: 2rem 0.5rem 0.7rem 0.5rem;
}
body .main-section .overView-today-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
body .main-section .overView-today-container .card {
  background-color: var(--card-bg);
  margin: 0.7rem;
  padding: 1rem;
  border-radius: 3px;
}
body .main-section .overView-today-container .card .first-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}
body .main-section .overView-today-container .card .second-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
body .main-section .overView-today-container .card .second-row .count {
  color: var(--text-2);
}
body .main-section .overView-today-container .card .second-row .today-count {
  margin: 0;
}

@media screen and (min-width: 700px) {
  body .main-section .header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  body .main-section .header .artical {
    border: none;
  }
  body .main-section .header .toggle-container {
    align-items: center;
  }
  body .main-section .header .toggle-container .mode {
    margin-right: 1rem;
  }
}/*# sourceMappingURL=main.css.map */