@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&family=Kumbh+Sans:wght@400;700&family=Libre+Franklin:wght@300;600;700&family=Manrope:wght@500;700&family=Poppins:wght@400;500;600;700&display=swap");
:root {
  --xl-drk-blue:hsl(217, 19%, 35%) ;
  --drk-blue: hsl(214, 17%, 51%);
  --medium-blue: hsl(212, 23%, 69%);
  --light-blue: hsl(210, 46%, 95%);
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Manrope", sans-serif;
}

body {
  background-color: var(--light-blue);
  display: grid;
  place-items: center;
  padding: 1rem;
}
body .artical-card {
  margin-top: 2rem;
  background-color: white;
  max-width: 375px;
  border-radius: 1rem;
  overflow: hidden;
}
body .artical-card .main-img {
  width: 100%;
  height: 100%;
}
body .content {
  color: var(--drk-blue);
}
body .content .artical {
  padding: 1.5rem;
}
body .content .artical .title {
  color: var(--xl-drk-blue);
  font-weight: 700;
  margin-bottom: 1rem;
}
body .content .feature {
  position: relative;
  height: 4.5rem;
  display: flex;
  align-items: center;
}
body .content .feature .pp-img {
  width: 3rem;
  border-radius: 100%;
  margin: 1.5rem 0.5rem 2rem 1.5rem;
}
body .content .feature .info {
  display: inline-block;
  font-size: 0.8rem;
  margin: 1rem;
  width: 40%;
}
body .content .feature .info .name {
  font-weight: 700;
  color: var(--xl-drk-blue);
}
body .content .feature .share {
  padding: 0.7rem;
  border-radius: 100%;
  background-color: var(--light-blue);
  color: var(--xl-drk-blue);
  position: absolute;
  z-index: 1;
  right: 1.5rem;
  top: 1.1rem;
}
body .content .feature .share-component {
  background-color: var(--xl-drk-blue);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  visibility: hidden;
  width: 0;
  transition: all 150ms ease-in-out;
  overflow: hidden;
}
body .content .feature .share-component p {
  padding: 0.5rem;
  margin: 0 1rem;
  margin-right: 0;
  letter-spacing: 0.4rem;
  font-size: 0.8rem;
}
body .content .feature .share-component i {
  padding: 0.5rem;
  font-size: 1.4rem;
  color: var(--light-blue);
}
body .content .active-share .share-component {
  visibility: visible;
  width: 100%;
}

@media screen and (min-width: 800px) {
  body .artical-card {
    display: flex;
    flex-direction: row;
    max-width: 750px;
    overflow: visible;
  }
  body .artical-card .img-container {
    width: 45%;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    overflow: hidden;
  }
  body .artical-card .img-container .main-img {
    width: 100%;
  }
  body .artical-card .content {
    width: 55%;
  }
  body .artical-card .content .feature .share-component {
    position: absolute;
    border-radius: 0.5rem;
    width: 17rem;
    height: 3rem;
    top: 0rem;
    left: 13.5rem;
    justify-content: space-around;
    transition: all 100ms ease-in-out;
    transform: scale(0);
  }
  body .artical-card .content .active-share .share-component {
    top: -3rem;
    transform: scale(1);
  }
}/*# sourceMappingURL=main.css.map */