@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');
:root {
    --blue: hsl(246, 80%, 60%);
    --orange: hsl(15, 100%, 70%);
    --soft-blue: hsl(195, 74%, 62%);
    --light-red: hsl(348, 100%, 68%);
    --lime-green: hsl(145, 58%, 55%);
    --violet: hsl(264, 64%, 52%);
    --soft-orange:  hsl(43, 84%, 65%);

    --bg-drk: hsl(226, 43%, 10%);
    --bg-light: hsl(0, 0%, 100%);

    --card-bg-drk: hsl(235, 46%, 20%);
    --card-bg-light: hsl(240, 100%, 96%);

    --text-1-drk: white;
    --text-1-light: black;

    --text-2-drk: hsl(235, 45%, 61%);
    --text-2-light: rgb(77, 77, 77);

    --text-3-drk: hsl(236, 100%, 87%);
    --text-3-light: rgb(145, 145, 145);
}
@media screen and (prefers-color-scheme: dark) {
    :root {
        --text-1: var(--text-1-drk);
        --text-2: var(--text-2-drk);
        --text-3: var(--text-3-drk);
        --main-bg: var(--bg-drk);
        --card-bg: var(--card-bg-drk);
    }
}
@media screen and (prefers-color-scheme: light) {
    :root {
        --text-1: var(--text-1-light);
        --text-2: var(--text-2-light);
        --text-2: var(--text-3-light);
        --main-bg: var(--card-bg-light);
        --card-bg: var(--bg-light);
    }
}// mobile first
[color-scheme = "light"] {
    --text-1: var(--text-1-light);
    --text-2: var(--text-2-light);
    --text-2: var(--text-3-light);
    --main-bg: var(--card-bg-light);
    --card-bg: var(--bg-light);
}
[color-scheme = "dark"] {
    --text-1: var(--text-1-drk);
    --text-2: var(--text-2-drk);
    --text-3: var(--text-3-drk);
    --main-bg: var(--bg-drk);
    --card-bg: var(--card-bg-drk);
}
* {
    font-family: 'Rubik', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: var(--main-bg);
    .time-tracking-section {
        display: grid;
        place-items: center;
        position: relative;
        .theme-switch-container {
            position: absolute;
            top: 2%;
            right: 15%;
            display: flex;
            align-items: center;
            .drk-mode {
                margin-left: .3rem;
                color: var(--text-2);
            }
            .toggle {
                border-radius: 1rem;
                background-color: var(--card-bg);
                width: 2.3rem;
                height: 1.3rem;
                position: relative;
                border: 3px solid var(--blue);
                .slider {
                                position: absolute;
                                z-index: 1;
                                margin: .1rem;
                                width: .8rem;
                                height: .8rem;
                                border-radius: 50%;
                                background-color: var(--soft-blue);
                                transition: .4s;
                            }
                            input {
                                position: absolute;
                                width: 100%;
                                height: 100%;
                                z-index: 0;
                                opacity: 0;
                                &:checked + .slider {
                                    transform: translateX(.9rem);
                                }
                            }
            }
        }
        .main {
            margin-top: 4.5rem;
            width: 85%;
            .profile-time-container {
                height: 100%;
                background-color: var(--card-bg);
                border-radius: 1rem;
                overflow: hidden;
                margin-bottom: 2rem;
                .profile-container {
                    background-color: var(--blue);
                    height: 70%;
                    padding: 2rem 1rem;
                    display: flex;
                    align-items: center;
                    border-radius: 1rem;
                    .pp-img{
                        width: 4rem;
                        border: 3px solid var(--text-1);
                        border-radius: 50%;
                        margin-right: 1rem;
                    }
                    .profile-info{
                        .info {
                            color: var(--text-3);
                        }
                        .name {
                            color: var(--text-1);
                            font-weight: 300;
                        }
                    }
                }
                .time-container {
                    padding: 1rem;
                    cursor: pointer;
                    user-select: none;
                    .times {
                        display: flex;
                        justify-content: space-around;
                        margin: .3rem 1rem;
                        color: var(--text-2);
                        font-size: 15px;
                        .active {
                            color: var(--text-1);
                        }
                    }
                }
            }
            .time-tracking-container {
                display: grid;
                grid-gap: 2rem;
                grid-template-columns:repeat(auto-fit, minmax(250px,1fr) );                
                .card {
                    border-radius: 1rem;
                    overflow: hidden;
                    position: relative;
                    z-index: 0;
                    &::before {
                        content: "";
                        position: absolute;
                        z-index: -1;
                        top: 0;
                        width: 100%;
                        height: 50%;
                        background-color: var(--orange);
                    }
                    .icon {
                        width: 4rem;
                        position: absolute;
                        right: 0;
                        z-index: -1;
                    }
                    .card-content {
                        margin-top: 2.5rem;
                        background-color: var(--card-bg);
                        border-radius: 1rem;
                        padding: 1.5rem;
                        .header-container {
                            display: flex;
                            justify-content: space-between;
                            margin-bottom: 1.5rem;
                            .category {
                                color: var(--text-1);
                                font-weight: 500;
                            }
                            .menu-icon {
                                width: 1.5rem;
                                height: .4rem;
                            }
                        }
                        .info-container {
                            display: flex;
                            flex-wrap: wrap;
                            align-items: center;
                            justify-content: space-between;
                            .hours {
                                color: var(--text-1);
                                font-weight: 300;
                                font-size: 2rem;
                            }
                            .last-time {
                                color: var(--text-2);
                            }
                        }
                    }
                }
                .play {
                    &::before {
                        background-color: var(--soft-blue);
                    }
                }
                .study {
                    &::before {
                        background-color: var(--light-red);
                    }
                }
                .exercise {
                    &::before {
                        background-color: var(--lime-green);
                    }
                }
                .social {
                    &::before {
                        background-color: var(--violet);
                    }
                }
                .self-care {
                    &::before {
                        background-color: var(--soft-orange);
                    }
                }
            }
        }
    }
}
@media screen and (min-width: 1000px) {
    body {
        .time-tracking-section {
            height: 100vh;
            .main {
                margin-top: 0;
                width: 95%;
                display: grid;
                grid-template-rows: 1fr 1fr;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                grid-template-areas: "left right right right"
                "left right right right";
                .profile-time-container {
                    margin: 0;
                    margin-right: 1.5rem;
                    grid-area: left;
                    .profile-container {
                        align-items: start;
                        flex-direction: column;
                        padding: 2rem;
                        .pp-img {
                            margin-bottom: 3rem;
                        }
                        .profile-info {
                            .name {
                                font-size: 2.5rem;
                                margin-top: .5rem;
                            }
                        }
                    }
                    .time-container {
                        .times {
                            flex-direction: column;
                            height: 100%;
                            .time {
                                margin: .5rem 0;
                            }
                        }
                    }
                }
                .time-tracking-container {
                    grid-area: right;
                    grid-gap: 1.5rem;
                    grid-template-columns:repeat(3, 1fr);
                    .card {
                        .card-content {
                            padding: 2rem;
                            .info-container {
                                flex-direction: column;
                                align-items: start;
                                .hours {
                                    font-size: 3rem;
                                    margin-bottom: 1rem;
                                }
                            }
                        }
                    } 
                }
            }
        }
    }
}
@media screen and (min-width: 1300px) {
    body {
        .time-tracking-section {
            .main {
                width: 75%;
            }
        }
    }
    
}